@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<!-- Header section -->
<header>
    <!-- Display the page title -->
    <h1>@ViewData["Title"]</h1>

    <!-- Check if the user is authenticated -->
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            // Display the logout form if the user is authenticated
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            // Display a message if the user is not authenticated
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
